.sliderContainer {
  width: 50vw;
  height: 350px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width:600px) {
  .sliderContainer {
    width: 100vw;
    height: 350px;
    overflow: hidden;
    position: relative;
  }
}

.sliderTrack {
  display: flex;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.slidecontent {
  width: 100%;
  height: 350px;
  /* object-fit: cover; */
}
