* {
    margin: 0;
}

.product-cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-container {
    display: block;
    margin: 50px;
    margin-left: 70px;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    .cart-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .product-cart-container {
        display: block;
    }
}

.cartpagetitle-link {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

@media screen and (max-width:600px) {
    .cartpagetitle-link {
        width: 90%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}


.cartpagetitle-link h4 {
    margin-left: 40px;
    cursor: pointer;
    font-style: italic;
    color: blue;
    font-size: 17px;
}

@media screen and (max-width:600px) {
    .cartpagetitle-link h4 {
        display: none;
    }

    .cartpagetitle-link h2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

#handpointing {
    width: 30px;
    height: 20px;
}

#cartimg {
    width: 30px;
    height: 20px;
}

@media screen and (max-width:600px) {
    .empty-cart {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.cart-product {
    display: flex;
    margin-bottom: 10px;
}

.cart-image img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .cart-image img {
        height: 100px;
        margin-left: 5px;
    }
}

.cart-product-details {
    width: 400px;
    font-size: 17px;
}

#price {
    font-size: 17px;
    font-weight: bold;
}

#quantity button {
    width: 30px;
    background-color: rgb(221, 168, 34);
    border: none;
    color: white;
    font-size: 18px;
    margin: 3px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#quantity button:hover {
    background-color: red;
}

#remove-button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Libre Baskerville";
}

#remove-button:hover {
    background-color: white;
    color: black;
    border: 1px solid orange;
}

.checkout-corner {
    background-color: rgba(245, 235, 235, 0.844);
    width: 400px;
    height: auto;
    font-family: "Libre Baskerville";
}

.checkout-corner h2 {
    font-size: 20px;
}

.checkout-corner h4 {
    font-size: 13px;
}

@media screen and (max-width:600px) {
    .checkout-corner {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 550px;
        border-radius: 10px;
    }

    .checkoutarea {
        font-size: 20px;
        margin-bottom: 20px;
    }
}


.checkout-title {
    margin-left: 15px;
}

.checkout-items {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 5px;
}

.checkout-corner button {
    margin: 10px 20px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Libre Baskerville";
}

.checkout-corner button:hover {
    background-color: white;
    /* rgb(128, 41, 41); */
    color: black;
    border: 1px solid orange;
}

.checkoutarea {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}


#checkoutarea button:active {
    background-color: red;
}

.checkoutbtn {
    font-family: "Libre Baskerville";
    font-weight: 200;
}

.delivery-options {
    margin-left: 20px;
}

.delivery-options h4 {
    font-size: 17px;
    margin-bottom: 5px;
}

.delivery {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.delivery input {
    width: 210px;
    height: 20px;
}